<div class="flex flex-col w-full">
  <div class="flex flex-col grow justify-center">
    <h1 class="text-6xl md:text-8xl text-amber-400 text-center py-8 font-light">
      eldencheck
    </h1>
  </div>
</div>
