<div class="flex flex-col p-2 bg-stone-800 w-full" *ngIf="playthrough$ | async">
  <div class="flex flex-row w-full pb-2 gap-2 items-center" *ngIf="showFilter$ | async">
    <!-- <button
      class="button"
      type="button"
      [class.hover]="(activeFilters$ | async)?.includes('dead')"
      (click)="filterAlive('dead')"
    >
      <span class="material-symbols-outlined text-2xl"> skull </span>
    </button>
    <button
      class="button"
      type="button"
      [class.hover]="(activeFilters$ | async)?.includes('alive')"
      (click)="filterAlive('alive')"
    >
      <span class="material-symbols-outlined text-2xl"> favorite </span>
    </button> -->
    <button
      class="button flex items-center"
      [class.hover]="(activeFilters$ | async)?.length === 0"
      type="button"
      (click)="resetFilter()"
    >
      <span class="material-icons"> restart_alt </span>
    </button>
    <div class="flex flex-row items-center gap-2">
      <button class="button flex items-center" type="button" (click)="editDeaths(1)">
        <span class="material-icons"> add </span>
      </button>
      <span class="font-bold text-xl text-amber-600">
        deaths: {{ (playthrough$ | async)?.deaths }}</span
      >
      <button class="button flex items-center" type="button" (click)="editDeaths(-1)">
        <span class="material-icons"> remove </span>
      </button>
    </div>
  </div>
  <div class="flex flex-row pb-2 w-full" *ngIf="showFilter$ | async">
    <dropdown-filter></dropdown-filter>
  </div>
  <div class="grid lg:grid-cols-4 md:grid-cols-3 grid-cols-2 gap-2">
    <boss-list-element
      *ngFor="let boss of bosses$ | async"
      [boss]="boss"
      [playthrough]="playthrough$ | async"
    ></boss-list-element>
  </div>
</div>
