<div *ngIf="boss" class="flex flex-col justify-between bg-stone-900 p-2 h-full">
  <div class="flex flex-row">
    <h3 class="text-xl">
      {{ boss.name }}
    </h3>
  </div>
  <div class="flex flex-row justify-between items-center">
    <span class="text-sm">
      {{ boss.location }}
    </span>
    <button
      (click)="changeState()"
      *ngIf="boss?.alive"
      class="flex flex-row items-center text-green-500 hover:text-green-300"
    >
      <!-- <span class="mr-2 text-sm"> alive </span> -->
      <span class="material-symbols-outlined text-2xl"> favorite </span>
    </button>
    <button
      (click)="changeState()"
      *ngIf="!boss?.alive"
      class="flex flex-row items-center text-2xl text-red-600 hover:text-red-400"
    >
      <!-- <span class="mr-2 text-sm"> dead </span> -->
      <span class="material-symbols-outlined text-2xl"> skull </span>
    </button>
  </div>
</div>
