<div class="flex flex-row w-full items-center p-2 justify-between bg-amber-600">
  <a
    class="flex justify-center items-center p-2 text-stone-800 hover:bg-stone-800 hover:text-amber-600"
    routerLinkActive="active"
    routerLink="/playthroughList"
  >
    <span class="material-icons text-4xl"> list </span>
  </a>
  <h2 *ngIf="playthroughDetailsPage" class="flex grow text-4xl mx-2 text-stone-800">
    {{ (playthrough$ | async)?.character }}
  </h2>
  <h2 *ngIf="!playthroughDetailsPage" class="flex grow text-4xl mx-2 text-stone-800">
    eldencheck
  </h2>
  <a
    routerLinkActive="active"
    class="flex justify-center items-center p-2 text-stone-800 hover:bg-stone-800 hover:text-amber-600"
    routerLink="/addPlaythrough"
    *ngIf="!playthroughDetailsPage"
  >
    <span class="material-icons text-4xl"> add_circle </span>
  </a>
  <span
    class="cursor-pointer flex justify-center items-center p-2 text-stone-800 hover:bg-stone-800 hover:text-amber-600"
    [class.active]="showFilter$ | async"
    (click)="toggleFilter()"
    *ngIf="playthroughDetailsPage"
  >
    <span class="material-icons text-4xl"> filter_list </span>
  </span>
</div>
