@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Source Code Pro', monospace;
  font-size: 1rem;
}
:root {
  --amber-400: #fbbf24;
  --amber-600: #d97706;
  --stone-900: #1c1917;
  --stone-800: #292524;
  --stone-100: #f5f5f4;
  // --image: url(/assets/img/horizontalKyoka.jpg);
  // --imageVert: url(/assets/img/verticalKyoka.jpg);
}

html,
body {
  font-size: 16px;
  margin: 0;
  min-height: 100vh;
  height: 100%;

  .button {
    padding: 0.5rem 1rem;
    background-color: var(--amber-600);
    color: var(--stone-800);
  }

  .filterButton {
    padding: 0.5rem;
    background-color: var(--amber-600);
    color: var(--stone-800);
  }

  .hover {
    background-color: var(--amber-400);
  }

  a {
    cursor: pointer;
  }

  .active {
    color: var(--amber-600) !important;
    background-color: var(--stone-800);
    border-color: var(--amber-600);
  }
}

@media only screen and (max-width: 768px) {
  html,
  body {
    font-size: 14px;
  }

  .button:active {
    background-color: var(--amber-400);
  }
  .filterButton:active {
    background-color: var(--amber-400);
  }
}

@media only screen and (min-width: 768px) {
  @media (hover: hover) {
    .button:hover {
      background-color: var(--amber-400);
    }
  }

  @media (hover: hover) {
    .filterButton:hover {
      background-color: var(--amber-400);
    }
  }
}
