<div class="flex flex-col h-full justify-center items-center bg-stone-800">
  <form class="md:w-3/5 w-full p-4" [formGroup]="playthroughForm" (ngSubmit)="onSubmit()">
    <div class="flex flex-col gap-4">
      <input
        formControlName="character"
        placeholder="character"
        class="w-full mt-1 block w-full px-3 py-2 bg-stone-800 border border-amber-600 rounded-md text-lg text-amber-600 focus:outline-none"
      />
      <div class="flex flex-row justify-center gap-4">
        <button class="button" type="submit">add character</button>
      </div>
    </div>
  </form>
</div>
