<div
  *ngIf="playthrough"
  class="flex flex-col items-center bg-stone-800 p-2 mt-1 bg-stone-900"
>
  <div class="flex flex-row w-full items-center justify-between">
    <div
      class="text-4xl hover:cursor-pointer hover:text-amber-600"
      (click)="routeToPlaythrough(playthrough._id)"
    >
      {{ playthrough.character }}
    </div>
    <span class="flex grow"></span>
    <span
      class="flex justify-center items-center p-2 bg-stone-900 cursor-pointer hover:bg-amber-600 text-amber-600 hover:text-stone-800"
      (click)="deletePlaythrough(playthrough)"
    >
      <span class="material-icons text-4xl"> delete </span>
    </span>
  </div>
  <div class="flex w-full flex-row gap-2">
    <span class="material-symbols-outlined text-xl text-red-600"> skull </span>
    <span class="font-bold text-xl">
      {{ playthrough.deaths }}
    </span>
  </div>
</div>
